.idea/*
# share copyright profiles
!.idea/copyright

*.iml
.gradle
.DS_Store
**/build
#**/out-repo  - no longer used
.maven-publish-dev-repo

node_modules/

*.egg-info
**/dist
venv
python-package/lets_plot/package_data
__pycache__/
/python-package/*.ipynb

build_settings.yml
