---

name: ignored
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.9
  - numpy
  - pandas
  - charset-normalizer>=3.0.1       # required by "requests" package
  - gdal                            # for DEM data
  - pip
  - pip:                            # Packages installed from PyPI
      - lets-plot==4.8.0rc1
#      - pypng                      # will be installed by lets-plot dependencies
#      - palettable
#      - pillow                     # will be installed by lets-plot dependencies
      - polars
      - scikit-datasets
      - geopandas
      - requests
      - scikit-learn
      - cartopy
      - rasterio
      - statsmodels                 # for 'residual plot'
