---

name: ignored
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.7
  - numpy
  - pandas
  - matplotlib
  - pip
  - pip:                            # Packages installed from PyPI
      - lets-plot==2.2.1rc1
      - pypng
      - pillow
      - scikit-datasets
      - geopandas
      - requests
      - ipywidgets
      - sklearn
