---

name: ignored
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.8
  - numpy
  - pandas
  - gdal                            # for DEM data
  - pip
  - pip:                            # Packages installed from PyPI
      - lets-plot==4.2.0rc1
#      - pypng                      # will be installed by lets-plot dependencies
#      - palettable
      - pillow
      - scikit-datasets
      - geopandas
      - requests
      - scikit-learn
      - cartopy
      - rasterio
      - statsmodels                 # for 'residual plot'
      - cairosvg
